{% set reduced_object={
  "apiVersion": object.apiVersion,
  "kind": object.kind,
  "metadata": {
    "name": object.metadata.name,
  },
} %}
{% if object.metadata.namespace is defined %}{{ update_dict(reduced_object, {"metadata": {"namespace": object.metadata.namespace}}) }}{% endif %}
{% if object.metadata.labels is defined %}{{ update_dict(reduced_object, {"metadata": {"labels": object.metadata.labels}}) }}{% endif %}
{% if object.metadata.annotations is defined %}{{ update_dict(reduced_object, {"metadata": {"annotations": object.metadata.annotations}}) }}{% endif %}

# :robot: Status of {{ object.metadata.name }}{% if object.metadata.namespace is defined %} in namespace {{ object.metadata.namespace }}{% endif %}
## Metadata
```yaml
{{ reduced_object | to_yaml }}
```

## Status
{% if object.status is defined %}
```yaml
{{ object.status | to_yaml }}
```
{% else %}
Object has no status.
{% endif %}
